.news__block {
  justify-content: space-between;
  .news__block_fluid {
    max-width: 100%;
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      .main__services_img-wrapper {
        max-width: 100%;
      }
    }
  }

  .main__services_block-item:nth-child(2n) {
    margin-left: 0;
  }

  .main__services_block-item:nth-of-type(3n-1) {
    margin-left: 30px;
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }

  .main__services_block-name,
  .main__services_block-text {
    max-width: 95%;
    @include media-breakpoint-down(md) {
      max-width: 95%;
      line-height: 22px;
    }
  }

  .main__services_block-name {
    margin-top: 0;
  }
}

.news__title_wrapper {
  display: inline-flex;
  flex-direction: column;
}

.news__block_date {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 12px;
  color: $text-black;
}

.main__services_link-item:hover {
  text-decoration: none;
}