.main__about-company_title {
  display: flex;
  width: 100%;
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}

.main__about-company_title-text {
  margin-bottom: 28px;
}

.about-company__text {
  font-size: 16px;
  line-height: 24px;
  max-width: 760px;
  @include media-breakpoint-down(lg) {
    max-width: 580px;
  }
}

.main__about-company_logo {
  margin-left: 45px;
  margin-right: 35px;
  img {
    max-width: 100%;
    min-width: 255px;
    width: 255px;
  }
  @include media-breakpoint-down(lg) {
    margin-left: 30px;
    margin-right: 0;
    img {
      min-width: 150px;
      width: 150px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    align-self: center;
    img {
      min-width: 180px;
      width: 180px;
    }
  }
}

.about-company__info {
  &_list {
    max-width: 760px;
    list-style: none;
    @include media-breakpoint-down(lg) {
      max-width: 580px;
    }
  }
  &_list-item {
    position: relative;
    margin-left: 17px;
  }
  &_list-item:not(:last-child) {
    margin-bottom: 6px;
  }
  &_list-item::before {
    content: '';
    position: absolute;
    left: -17px;
    top: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $ul-list-color;
  }
  &_command {
    max-width: 760px;
    margin-bottom: 1rem;
    img {
      max-width: 100%;
    }
    @include media-breakpoint-down(lg) {
      max-width: 580px;
    }
    @include media-breakpoint-down(md) {
      justify-self: center;
      max-width: 370px;
      margin: 0 auto;
      margin-bottom: 1rem;
    }
    @include media-breakpoint-down(xs) {
      max-width: calc(100vw - 45px);
    }
  }
  &_management-wrapper {
    padding-top: 10px;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
    .about-company__text {
      max-width: 460px;
      @include media-breakpoint-down(lg) {
        max-width: 288px;
      }
      @include media-breakpoint-down(md) {
        max-width: 370px;
      }
    }
  }
  &_management-heading {
    font-size: 20px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 22px;
    }
    @include media-breakpoint-down(lg) {
      max-width: 288px;
    }
    @include media-breakpoint-down(md) {
      max-width: 370px;
    }
  }
  &_management-signature {
    span {
      margin-right: 24px;
      display: inline-block;
      font-size: 18px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 5px;
      }
    }
    img {
      width: 114px;
    }
  }
  &_management-boss {
    position: relative;
    margin-left: 30px;
    img {
      width: 262px;
    }
    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
  &_management-name {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    bottom: 30px;
    font-weight: normal;
    color: $text-white;
    text-shadow: 2px 2px 10px #000;
    .boss-name {
      font-size: 14px;
    }
    .boss-post {
      font-size: 10px;
    }
  }
}