@import "../../block/system/vars";
@import "../../block/system/bootstrap";

.header,
.main__contacts {
  @include make-container();
}

.header__info_wrapper,
.header__slider,
.header__nav,
.main__contacts_wrapper,
.main__services,
.main__partners,
.main__certificates,
.footer {
  margin: 0 auto;
  @include make-container-max-widths();
}


<<<<<<< HEAD
.header {
  min-height: 685px;
  background-color: $heading-bg-color;
  background-image: url("../img/content/bridge.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
=======
>>>>>>> 16f1f0fcdc126f954e781c730a94542e3eab23b7

.header__info_wrapper,
.main__services,
.main__services_block,
.main__services_block-article,
.main__partners_article-block,
.main__certificates_article-block,
<<<<<<< HEAD
.footer {
=======
.footer__info,
.header__info_action,
.header__nav_list,
.footer__info_action {
>>>>>>> 16f1f0fcdc126f954e781c730a94542e3eab23b7
  display: flex;
}

.main__services_block {
  flex-direction: column;
}

.main__services_block-article,
.main__partners_article-block,
.main__certificates_article-block {
  flex-wrap: wrap;
}