//Typography
$default-font: Arial, Roboto, Helvetica, sans-serif;
$heading-font: 'Arial Black', Arial, Roboto, Helvetica, sans-serif;

//Colors
$heading-bg-color: #171b57;
$active-color: #1aaf8e;
$dropdown-color: #171b57;
$list-hover: #088368;
$text-white: #ffffff;
$text-black: #000000;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$gutter: $grid-gutter-width;