.footer__info {
  padding: 34px 0;
  @include media-breakpoint-down(md) {
    padding-top: 0;
    position: relative;
    width: 100%;
    padding-bottom: 25px;
  }
  &_text {
    @include media-breakpoint-down(md) {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 148px;
    }
  }
  .footer-logo {
    width: 130px;
    height: 130px;
    @include media-breakpoint-down(lg) {
      height: 100px;
      width: 100px;
    }
  }
  &_logo {
    @include media-breakpoint-down(md) {
      position: absolute;
      bottom: 35px;
      left: 15px;
    }
  }
  &_block {
    width: 100%;
    margin-left: 25px;
    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column-reverse;
      margin-left: 0;
      width: 100%;
      padding: 0 15px;
    }
  }
  &_heading {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: $section-heading-size;
    text-transform: uppercase;
    line-height: 35px;
    @include media-breakpoint-down(md) {
      font-size: $label-contact;
      margin-left: 110px;
      margin-bottom: 5px;
      margin-top: 0;
      line-height: 25px;
    }
  }
  &_title {
    margin-bottom: 7px;
    @include media-breakpoint-down(md) {
      font-size: $label-font_size-sm;
      margin-left: 110px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &_action {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(lg) {
      justify-content: flex-start;
    }
    @include media-breakpoint-down(md) {
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
    }
    .main-marker {
      width: 12px;
      height: 15px;
    }
    .mobile-marker {
      width: 30px;
      height: 30px;
    }
    .main-mail {
      width: 15px;
      height: 11px;
    }
    .mobile-mail {
      width: 30px;
      height: 30px;
    }
    .footer-phone {
      width: 30px;
      height: 30px;
    }
  }
  &_button {
    @extend .button;
    padding: 25px 25px;
    font-size: 15px;
    background-color: $button-color;
    @include media-breakpoint-down(lg) {
      padding: 23px 25px;
      font-size: $label-font_size-normal;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &_action-block {
    display: flex;
    align-items: flex-start;
    height: 100%;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      height: auto;
    }
  }
  .tel-block {
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }
  &_action-block:not(:last-child) {
    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }
    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
  }
  &_action-text {
    height: 100%;
    margin: 0;
    margin-left: 10px;
    display: inline-flex;
    flex-direction: column;
    line-height: 28px;
    font-size: 15px;
  }
  &_action-text {
    font-size: 15px;
  }
  .tag {
    font-size: $label-font_size-sm;
    line-height: 12px;
    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
    @include media-breakpoint-down(md) {
      margin: 5px 0;
    }
  }
  .address-tag{
    @include media-breakpoint-down(lg) {
      margin-bottom: 5px;
    }
  }
  .mail {
    @include media-breakpoint-down(md) {
      font-size: $label-contact;
      line-height: 16px;
      letter-spacing: 0;
    }
  }
  .address {
    @include media-breakpoint-down(lg) {
      max-width: 160px;
      line-height: 20px;
    }
    @include media-breakpoint-down(md) {
      font-size: $label-contact;
      letter-spacing: 0;
      max-width: 100%;
      line-height: 25px;
    }
    @include media-breakpoint-down(xs) {
      max-width: 230px;
    }
  }
  .tel {
    font-size: 23px;
    @include media-breakpoint-down(lg) {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0;
      font-weight: bold;
    }
    @include media-breakpoint-down(md) {
      font-size: 28px;
      line-height: 28px;
    }
  }
  .mail,
  .tel {
    color: $text-black;
  }
  .tel-tag {
    line-height: 20px;
  }
}

.svg {
  &-mobile {
    display: none;
    width: 30px!important;
    height: 30px!important;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &-main {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.mobile-marker {
  width: 30px;
}