@import "../../block/system/vars";

.header {
  min-height: 687px;
  background-color: $heading-bg-color;
  background-image: url("../img/content/bridge.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  @include media-breakpoint-down(sm) {
    min-height: 545px;
  }
}
.logo {
  @include media-breakpoint-down(sm) {
    height: 100px;
    width: 100px;
  }
}

.header__info {
  &_heading {
    margin-bottom: 5px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &_wrapper {
    padding-bottom: 20px;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  &_block {
    margin-top: 30px;
    margin-left: 25px;
  }
  &_action {
    justify-content: flex-end;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
      align-items: center;
      justify-content: center;
    }
    &-link {
      padding: 0 5px;
      display: flex;
      align-items: center;
    }
    .item-action:not(:last-child) {
      margin-right: 15px;
    }
  }
  &_tel {
    svg {
      margin-right: 10px;
    }
    p {
      display: flex;
      flex-direction: column;
    }
  }
  &_mail {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    svg {
      margin-right: 10px;
    }
    p {
      margin-right: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  &_title {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    margin-bottom: 6px;
  }
  &_button {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    @extend .button
  }
  &_search {
    padding: 17px 31px;
    display: inline-block;
    width: 264px;
    background-color: $text-white;
    text-transform: none;
    font-weight: normal;
    font-size: $label-font_size-normal;
    line-height: $label-font_size-normal;
    letter-spacing: 1.2px;
    color: $text-black;
    border-radius: 3px;
    border: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    &-submit {
      @extend .visually-hidden
    }
  }
  &_search::placeholder {
    color: $placeholder-color;
    transition: color .2s ease-in-out;
  }
  &_search:focus::placeholder,
  &_search:hover::placeholder {
    color: $placeholder-hover-color;
  }
}

.header__info_tel,
.header__info_mail {
  flex-direction: row;
}

.header__nav {
  margin-bottom: 60px;
  margin-bottom: 60px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  &_list {
    list-style: none;
    z-index: 20;
  }
  &_category {
    flex-grow: 1.2;
    text-align: center;
    border-radius: 0;

    a {
      @extend .button;
      width: 100%;
      color: $text-white;
      text-decoration: none;
      border-radius: 0;
    }
    .production {
      @extend .button;
      width: 100%;
      color: $text-white;
      text-decoration: none;
      border-radius: 0;
    }
    &-list {
      display: none;
      width: 250px;
      position: absolute;
      left: 0;
      top: 50px;
      list-style: none;
      animation: view .3s ease-in-out;
    }
    &-list a {
      text-transform: none;
      font-weight: normal;
      letter-spacing: 0;
      text-align: left;
      font-size: 15px;
      line-height: 24px;
      background-color: $dropdown-color;
    }
    &-list span {
      @extend .button;
      text-transform: none;
      font-weight: normal;
      letter-spacing: 0;
      text-align: left;
      font-size: 15px;
      line-height: 24px;
      background-color: $dropdown-color;
      width: 100%;
      color: $text-white;
      text-decoration: none;
      border-radius: 0;
    }
  }
}

@keyframes view {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.header__nav_category-item:last-child a {
  border-radius: 0 0 4px 4px;
}

.header__nav_category-item:hover a {
  background-color: $active-color;
}

.list__label:hover span {
  background-color: $active-color;
}

.production {
  position: relative;
}

.arrow-production {
  transform: rotate(90deg);
}

.header__nav_category:first-child:hover {
  border-radius: 4px 0 0 0;
  background-color: $dropdown-color;
}

.production:hover .header__nav_category-list {
  display: block;
}

.header__nav_category-list:hover {
  display: block;
}

.header__nav_category:not(:last-child) {
  border-right: 1px solid $text-white;
}

.header__nav_category:first-child {
  @extend .button;
  flex-grow: .3;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 900;
  border-radius: 4px 0 0 4px;
}

.header__nav_category:last-child a {
  border-radius: 0 4px 4px 0;
}

.header__slider {

  &_heading {
    margin-bottom: 13px;
    max-width: 660px;
    color: $text-white;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 1.3px;
    @include media-breakpoint-down(sm) {
      margin: 0 auto;
      max-width: 270px;
      font-size: 20px;
      text-align: center;
      line-height: 28px;
    }
  }
  &_text {
    margin-bottom: 22px;
    max-width: 460px;
    color: $text-white;
    font-size: 17px;
    letter-spacing: .5px;
    @include media-breakpoint-down(sm) {
      text-align: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
  }
  }
  &_link {
    margin-bottom: 45px;
    @extend .button-lg;
    text-decoration: none;
  }
  &_link:hover {
    color: $text-white;
    text-decoration: none;
  }
  &_btn {
    @extend .visually-hidden
  }
  &_label {
    margin-right: 13px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $text-white;
    cursor: pointer;
  }

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

 #slide-first:checked ~ .header__slider_label-list #label-first,
 #slide-second:checked ~ .header__slider_label-list #label-second,
 #slide-third:checked ~ .header__slider_label-list #label-third {
  background-color: $active-color;
}


 .list__label,
 .list__sub-label {
   position: relative;
 }

 .list__label span {
   display: inline-flex;
   align-items: baseline;
 }

 .list__label_block,
 .list__label_sub-block {
   display: none;
   width: 250px;
   position: absolute;
   left: 250px;
   top: 0;
   list-style: none;
   animation: view .3s ease-in-out;
 }

.list__sub-label {
  min-height: inherit;
}

.list__label_block a {
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  background-color: $active-color;
}

.arrow,
.sub-arrow{
  position: absolute;
  top: 28px;
  right: 20px;
  display: none;
}

.list__label:hover  .list__label_block,
.list__sub-label:hover .list__label_sub-block {
  display: block;
}

.list__sub-label:hover span{
  background-color: $list-hover;
}

.list__label:hover .arrow,
.list__sub-label:hover .sub-arrow {
  display: block;
}

.list__label_item:last-of-type a,
.list__label_item:last-of-type span,
.list__label_sub-item:last-of-type a,
.list__sub-label:last-of-type span,
.list__sub-label:last-of-type a,
.list__label:last-of-type span {
  border-radius: 0 0 4px 4px;
}

.top {
  &__50 {
    top: -50%;
  }
  &__100 {
    top: -100%;
  }
  &__150 {
    top: -150%;
  }&__200 {
     top: -200%;
   }
  &__250 {
    top: -250%;
  }
  &__300 {
    top: -300%;
  }
  &__350 {
    top: -350%;
  }
  &__400 {
    top: -400%;
  }
  &__450 {
    top: -450%;
  }
  &__500 {
    top: -500%;
  }
  &__550 {
    top: -550%;
  }
  &__600 {
    top: -600%;
  }
  &__650 {
    top: -650%;
  }
  &__700 {
    top: -700%;
  }
  &__750 {
    top: -750%;
  }
  &__800 {
    top: -800%;
  }
  &__850 {
    top: -850%;
  }
  &__900 {
    top: -900%;
  }
}