@import "../system/vars";

.main__services,
.main__partners,
.main__certificates,
.main__contacts {
  @extend .main-section
}

.main__services {
  &_aside {
    display: flex;
    flex-direction: column;
    padding: 15px 18px;
    padding-bottom: 8px;
    min-width: 350px;
    border-radius: 4px;
    border: 3px solid $border-color;
  }
  &_aside-heading {
    margin-bottom: 15px;
  }
  &_aside-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  &_aside-item {
    display: inline-flex;
    border-top: 2px solid $border-color;
  }
  .aside-arrow {
    margin-top: 17.6px;
    transition: transform .2s ease-in-out;
  }
  &_aside-item:hover .aside-arrow {
    transform: translateX(5px);
  }
  &_aside-link {
    display: inline-block;
    padding: 17.6px 0;
    margin-left: 20px;
    width: 100%;
    font-size: $aside-font_size;
    color: $text-black;
    transition: color .2s ease-in-out;
  }
  &_aside-link:hover {
    text-decoration: none;
    color: $list-hover;
  }
  &_block {
    margin-left: 30px;
    padding-top: 17px;
  }
  &_block-item {
    margin-top: 27px;
    max-width: 365px;
  }
  &_block-item:nth-child(2n) {
    margin-left: 30px;
  }
  &_block-name {
    display: inline-block;
    margin: 10px 0;
    max-width: 220px;
    font-size: $base-font_size;
    line-height: 19px;
    font-weight: bold;
    color: $text-black;
    text-decoration: none;
    transition: color .2s ease-in-out;
  }
  &_block-text {
    margin-bottom: 0px;
    max-width: 215px;
    font-size: $label-font_size-normal;
    line-height: 18px;
  }
  &_img-wrapper {
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
  }
}

.main__services_link-item:hover .main__services_block-name {
  color: $list-hover;
}

.main__services_link-item img {
  transition: transform .25s ease-in-out, opacity .25s ease-in-out;
}

.main__services_link-item:hover img {
  transform: scale(1.1);
  opacity: .85;
}

.main__partners {
  padding-top: 25px;
  &_article-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 18px);
    height: 107px;
    border: 2px solid $border-color;
  }
  &_item:not(:nth-child(4n + 1)) {
    margin-left: 20px;
  }
}

.main__certificates {
  margin-bottom: 17px;
  &_heading {
    margin-bottom: 32px;
  }
  &_article-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 31px);
    height: 346px;
    border: 2px solid $border-color;
  }
}

.main__contacts {
  &_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    height: 0;
  }
  &_block {
    display: flex;
    flex-direction: column;
    margin-top: -534px;
    padding: 35px 45px 41px 40px;
    height: 420px;
    background-color: #fff;
    box-shadow: 0px 8px 25.65px 1.35px rgba(0, 0, 0, 0.23);
  }
  &_block-header {
    margin-bottom: 22px;
  }
  &_block-text {
    display: inline-flex;
    flex-direction: column;
  }
  &_block-title {
    margin-bottom: 5px;
    font-size: $label-font_size-normal;
    letter-spacing: .5px;
  }
  &_block-info {
    font-size: $label-contact;
    color: $text-black;
    line-height: 29px;
    letter-spacing: .2px;
  }
  &_block-info:hover {
    color: $text-black;
  }
  &_block-button {
    @extend .button;
    max-width: 205px;
    padding: 23px 25px;
    font-size: $base-font_size;
    background-color: $button-color;
  }
}
